#nft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#nft .view {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    height: 90%;
}

#nft .view img {
    height: 80%;
    width: auto;
    border-radius: 5%;
}

#nft .view .metadata {
    padding-left: 2em;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

#nft .view .metadata p {
    margin: 0;
}

@media (max-aspect-ratio: 4/3) {
    #nft .view {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90%;
    }

    #nft .view img {
        height: auto;
        width: 30%;
    }

    #nft .view .metadata {
        text-align: center;
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}


@media (max-aspect-ratio: 1/1) {
    #nft .view img {
        height: auto;
        width: 60%;
    }
}