#images {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 5%;
}

#images > img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}



@media (max-aspect-ratio: 1/1) {
    #images {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }